@use "fonts";

// colors
$myWhite: #E9E4E4;
$myBlack: #070707;
$myAnthracite: #5C6F6B;

// fonts
$zhi-mang-xing: 'Zhi Mang Xing', Verdana, Geneva, Tahoma, sans-serif;
$catamaran: 'Catamaran', Verdana, Geneva, Tahoma, sans-serif;
$mr-dafoe: 'Mr Dafoe', Verdana, Geneva, Tahoma, sans-serif;